app = "remorph-price-engine-cccc"

[build]
  dockerfile = "apps/price-engine-service/Dockerfile"

[env]
  PORT = "3000"

[[services]]
  protocol = "tcp"
  internal_port = 3000

  [[services.ports]]
    handlers = ["http"]
    port = 80
    force_https = true

  [[services.ports]]
    handlers = ["tls", "http"]
    port = 443
